h2 {
    color: green;
  }

  ul {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
  }

  .update {
    color: rgb(10, 136, 33);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .error {
    color: rgb(239, 60, 16);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }